<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.atomicoke.logic.modules.group.domain.dao.mapper.GroupChatMemberMapper">

    <resultMap id="BaseResultMap" type="org.atomicoke.logic.modules.group.domain.entity.GroupChatMember">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="groupId" column="group_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="roleType" column="role_type" jdbcType="INTEGER"/>
            <result property="addWay" column="add_way" jdbcType="INTEGER"/>
            <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,group_id,user_id,
        nick_name,role_type,add_way,
        add_time
    </sql>
</mapper>