<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.fzdwx.logic.modules.group.domain.dao.mapper.GroupChatRequestMapper">

    <resultMap id="BaseResultMap" type="io.github.fzdwx.logic.modules.group.domain.entity.GroupChatRequest">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="groupId" column="group_id" jdbcType="BIGINT"/>
            <result property="reqId" column="req_id" jdbcType="BIGINT"/>
            <result property="reqMessage" column="req_message" jdbcType="VARCHAR"/>
            <result property="handlerResult" column="handler_result" jdbcType="INTEGER"/>
            <result property="addWay" column="add_way" jdbcType="INTEGER"/>
            <result property="handlerTime" column="handler_time" jdbcType="TIMESTAMP"/>
            <result property="handlerMsg" column="handler_msg" jdbcType="VARCHAR"/>
            <result property="handlerUser" column="handler_user" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,group_id,req_id,
        req_message,handler_result,add_way,
        handler_time,handler_msg,handler_user,
        create_time
    </sql>
</mapper>