<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.atomicoke.logic.modules.group.domain.dao.mapper.GroupChatMapper">

    <resultMap id="BaseResultMap" type="org.atomicoke.logic.modules.group.domain.entity.GroupChat">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="notification" column="notification" jdbcType="VARCHAR"/>
            <result property="creatorUserId" column="creator_user_id" jdbcType="BIGINT"/>
            <result property="groupType" column="group_type" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,avatar,
        introduction,notification,creator_user_id,
        group_type,create_time
    </sql>
</mapper>