<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.atomicoke.logic.modules.group.domain.dao.mapper.GroupChatRequestMapper">

    <resultMap id="BaseResultMap" type="org.atomicoke.logic.modules.group.domain.entity.GroupChatRequest">
        <!--@Table group_chat_request-->
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="groupId" column="group_id" jdbcType="BIGINT"/>
        <result property="applyId" column="apply_id" jdbcType="BIGINT"/>
        <result property="applyMessage" column="apply_message" jdbcType="VARCHAR"/>
        <result property="handlerResult" column="handler_result" jdbcType="INTEGER"/>
        <result property="addWay" column="add_way" jdbcType="INTEGER"/>
        <result property="handlerTime" column="handler_time" jdbcType="BIGINT"/>
        <result property="handlerUser" column="handler_user" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="BIGINT"/>
        <result property="randomId" column="random_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,group_id,apply_id,
        apply_message,handler_result,add_way,
        handler_time,handler_user,
        create_time,random_id
    </sql>
    <insert id="insertIgnore">
        insert ignore into group_chat_request
        (<include refid="Base_Column_List"/>)
        values
        (#{id},#{groupId},#{applyId},#{applyMessage},
        #{handlerResult},#{addWay},#{handlerTime},
        #{handlerUser},#{createTime},#{randomId});
    </insert>
</mapper>